<html>
	<head>
		<title> Test Titre </title>
		<meta charset="UTF-8"/>
	</head>

	<body>
		<header>
			<nav class="nav">
		<ul>
			<li><a href = "/">Home</a></li>
			<li><a href = "/team"> Images </a></li>
			<li><a href = "/contact"> Contact </a></li>
		</ul>
	</nav>
		<header>

		<section>
		<h1>Bienvenue sur The Gossip Project !!</h1>
		<p>Voici la liste des potins : </p>
		</section>

	</body>
</html>