<html>
	<head>
		<title> Test Titre </title>
		<meta charset="UTF-8"/>
	</head>

	<body>
		<header>
			<nav class="nav">
		<ul>
			<li><a href = "/">Home</a></li>
			<li><a href = "/team"> Team </a></li>
			<li><a href = "/contact"> Contact </a></li>
		</ul>
	</nav>
		<header>

		<section>
		<h1>PAGE EN CONSTRUTION</h1>
		</section>

	</body>
</html>